h2 {
    color: rgb(7, 50, 25);
}

.subject {
    background-color: rgba(236, 255, 0, 0.9);
}

.subject-pic {
    background-image: -webkit-linear-gradient(rgba(36, 177, 224, 0), rgb(41, 218, 97) 10%, rgba(36, 177, 224, 0));
    background-image: linear-gradient(rgba(36, 177, 224, 0), rgb(41, 218, 97) 10%, rgba(36, 177, 224, 0));
}

.gradient-filling {
    background-image: -webkit-linear-gradient(0deg, #ECFF00 50%, white);
    background-image: linear-gradient(90deg, #ECFF00 50%, white);
}